.headerName {
    font-size: 27px;
    font-weight: bolder;
    padding-left: 0px;
    margin: 0;
    margin-bottom: 0;
    margin-right: 5px;
}

.mainWrapper {
    position: sticky;
    z-index: 100;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    border-bottom: 1.5px solid #d1d1d1;
    padding: 15px 21px;
    border-radius: 49px;
    padding-bottom: 20px;
    align-items: center;
    padding-top: 18px;
    background-color:#fefefe;
    box-shadow: 0 4px 6px -2px #d7d7d7;
    height: 65px;



    @media (max-width: 895px) {
        width: 100%;
        padding: 15px 37px;
        border-radius: 0px;

        @media (max-width: 491px)  {
            padding: 15px 15px;
        }
    }

    @media (max-width: 1440px) and (min-width: 896px)  {
        width: 86.7vw;
        /* gap: 3vw;
        justify-content: flex-start; */
    }

    @media (min-width: 1441px)  {
        width: 1183.87px;
        /* gap: 29px;
        justify-content: flex-start; */
    }
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: 15px; */
    gap: 1.115vw;
    /* background-color: white; */
    height: fit-content;
    border-radius: 0px;
    align-items: center;
    padding-left: 0px;
}

.btnWrapper {
    display: flex;
    flex-direction: row;
    gap: 1.115vw;

    @media (max-width: 1042px)  {
        display: none;
    }
}

.profile {
    display: flex;
    flex-direction: row;
    gap: 1.115vw;
    margin-right: 0px;

    @media (max-width: 766px)  {
        display: none;
    }
}

.hamburger {
    display: none;

    @media (max-width: 766px)  {
        display: block;
    }
}