#root {
  width: 90%;
  max-width: 100%;
  margin: 0 auto;
  /* text-align: center; */
  border-inline: 1px solid var(--border);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: visible;

  @media (max-width: 895px)  {
        width: 100vw;
    }
}