* {
    box-sizing: border-box;
    /* outline: 1px solid red !important; */
}

body {
    background-color:rgb(227 227 227 / 59%);
    overflow: visible;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
}